<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeisp.model.mapper.ModelCallLogMapper">

    <select id="countCallsByModelId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM model_call_log
        WHERE model_id = #{modelId}
          AND created_at BETWEEN #{start} AND #{end}
    </select>

</mapper>
