<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeisp.user.mapper.UsrDurationLogMapper">

    <resultMap id="BaseResultMap" type="com.aeisp.user.entity.UsrDurationLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="consume_time" property="consumeTime"/>
        <result column="consume_type" property="consumeType"/>
        <result column="consume_duration" property="consumeDuration"/>
        <result column="project_id" property="projectId"/>
        <result column="description" property="description"/>
    </resultMap>

</mapper>
