<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeisp.user.mapper.UsrUserDurationMapper">

    <resultMap id="BaseResultMap" type="com.aeisp.user.entity.UsrUserDuration">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="total_granted_minutes" property="totalGrantedMinutes"/>
        <result column="total_consumed_minutes" property="totalConsumedMinutes"/>
        <result column="remaining_minutes" property="remainingMinutes"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="warning_threshold" property="warningThreshold"/>
        <result column="last_consumed_at" property="lastConsumedAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, total_granted_minutes, total_consumed_minutes, remaining_minutes,
        expiry_date, warning_threshold, last_consumed_at, updated_at
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM usr_user_duration
        WHERE user_id = #{userId}
        LIMIT 1
    </select>

</mapper>
